{% load static %}
{% load ratings %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

</head>
<body>

<div id="hypothesis">
    {{ hypothesis.name }}
    {{ hypothesis.text }}
</div>
{% for comment in comments %}
    {{ comment.name }}
    <br/>
    {{ comment.text }}
    <br/>
    {% ratings comment %}

{% endfor %}
</body>
</html>